* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
}
.info h1 {
  font-size: 50px;
}
p {
  padding-top: 20px;
  letter-spacing: 2px;
  padding-right: 150px;
  padding-bottom: 60px;
}
.info {
  padding-left: 150px;
}
button {
  height: 50px;
  width: 120px;
  background-color: #b17812;
  border: #b17812;
  color: white;
  font-size: 18px;
}
.imgstart {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: -1px 2px 20px 7px #c5c5c5;
}
.gallaryimg {
  position: relative;
  height: 200px;
  width: 300px;
}
.imgHeading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  overflow: hidden;
  text-align: center;
  /* z-index: 11; */
}
.gallaryimg:hover .imgHeading {
  background-color: orange;
  height: 20%;
  line-height: 60px;
  bottom: 0;
}
.proinfo {
  display: flex;
  margin-left: 200px;
}

.review-main {
  display: flex;
  height: 300px;
  width: 100%;
}
